.Select {
  select {
    padding-left: 30px;
    min-height: 59px;
    width: 100px;
    border: 1px solid black;
    border-radius: 0px 5px 5px 0px;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
  }
}
